body {
	background: #0e0e10;
	margin: 0px;
	font-family: lato, roboto, sans-serif;
}

.container {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

/* HEADER */

header {
	grid-area: header;
	height: 110px;
	background: #18181b;
	display: flex;
	justify-content: space-between;
	padding: 0px 50px;
	text-transform: uppercase;
	font-size: 115%;
	border-bottom: 0.5px solid black;
	align-items: center;
}


/* NAV SIDEBAR */

nav {
	grid-area: nav;
	background: #1f1f23;
	font-size: 145%;
	padding: 35px 0px 0px 0px;
	text-align: center;
	height: calc(100vh - 50px);
}

.sidebar-item {
	padding: 10px 0px 10px 0px;
	transition: color 0.35s;
}

nav img {
	border-radius: 90%;
	margin-bottom: 15px;
}

.nav-link-wrapper {
	height: 32px;
	border-bottom: 1px solid transparent;
}

.nav-link-wrapper a {
	color: gray;
	text-decoration: none;
	transition: color 0.4s;
}

.nav-link-wrapper a:hover {
	text-shadow: 0px 0px 12px black;
}

.nav-link-wrapper a:hover {
	color: white;
}

/* ASIDE AKA FIRST FOOTER */

aside {
	background: #18181b;
	color: #e4e4e4;
	margin-top: 2px;
	text-align: center;
	padding: 10px 0px;
	display: inline-block;
}

aside ul {
	list-style: none;
}

aside li {
	display: block;
}

/* FOOTER */

footer {
	background: #18181b;
	color: #e4e4e4;
	font-size: 95%;
	height: 50px;
	line-height: 50px;
	padding: 0px 40px;
	margin-top: 2px;
	text-align: center;
	border-left: 1px solid #0a0a0a;
	border-right: 1px solid #0a0a0a;
	font-size: 145%;
}

/* MOBILE RULES */

@media screen and (max-width: 1000px) {
	.sidebar-item {
		font-size: 170%;
	}
	
	.nav-link-wrapper {
		height: 50px;
	}
}